In [484]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
rent=pd.read_excel(r"/Users/jaimesastrecrespo/DAFT_1022/Module_1/Project_Week_3_Data-Preparation/Project 10 -Spain renting.xlsx")

### Examine the data for potential issues (missing data, data inconsistency, outliers, duplicates etc) and cleaning.

In [485]:
rent.head()

,Column1,provincia,comunidad autonoma,titulo,precio,habitaciones,metros,total inmuebles/comunidad
0,0,La Coruña,Galicia,NaN,NaN,NaN,NaN,1751
1,1,La Coruña,Galicia,"Chalet pareado en A Zapateira, Culleredo",1100.0,4.0,243,1751
2,2,La Coruña,Galicia,"Chalet pareado en Elviña - A Zapateira, A Coruña",1100.0,4.0,243,1751
3,3,La Coruña,Galicia,"Ático en avenida Pasaxe, 35, Los Castros - Cas...",450.0,NaN,Planta 4ª exterior con ascen,1751
4,4,La Coruña,Galicia,"Piso en calle de Fernando III o Santo, 9, Ensa...",1000.0,4.0,100,1751

In [486]:
rent.shape

(79749, 8)

In [487]:
print(rent["Column1"].nunique(),"Column1" )
print(rent["provincia"].nunique(), "provincia")
print(rent["comunidad autonoma"].nunique(),"comunidad autonoma")
print(rent["titulo"].nunique(),"titulo")
print(rent["precio"].nunique(),"precio")
print(rent["habitaciones"].nunique(),"habitaciones")
print(rent["metros"].nunique(),"metros")
print(rent["total inmuebles/comunidad"].nunique(),"total inmuebles/comunidad")

79749 Column1
53 provincia
20 comunidad autonoma
36502 titulo
834 precio
24 habitaciones
720 metros
53 total inmuebles/comunidad

In [488]:
# show null/NA values per column
rent.isnull().sum()

Column1                         0
provincia                       2
comunidad autonoma              7
titulo                          8
precio                          4
habitaciones                 3707
metros                         15
total inmuebles/comunidad       0
dtype: int64

In [489]:
#finding duplicates rows
rent.duplicated().sum()

0

In [490]:
#Finding the rows with more than one NaN value
rent_nan2 = rent.loc[rent.isnull().sum(1)>1].index
print(rent_nan2)
rent_nan2.value_counts().sum()

Int64Index([    0,  6435, 26136, 30775, 31019, 31043, 34376, 34377, 34391,
            34392, 70341, 79703, 79704, 79709],
           dtype='int64')

14

In [491]:
#dropping the rows with more than one missing values
rent2= rent.drop(rent_nan2)

In [492]:
print(rent2[rent2['comunidad autonoma'].isnull()])

       Column1 provincia comunidad autonoma  \
79726    79726  Zaragoza                NaN
79740    79740  Zaragoza                NaN

                                                  titulo  precio  \
79726  Piso en calle vicente monforte, 10, San José, ...   655.0
79740  Piso en calle Madre Sacramento, 1, Doctor Cerr...   700.0

       habitaciones metros  total inmuebles/comunidad
79726           2.0     60                       1277
79740           2.0     70                       1277

In [493]:
#replacing NaN values from comunidad autonoma by provincia
rent2.loc[rent2['comunidad autonoma'].isnull(),'comunidad autonoma'] = rent2["provincia"]

In [494]:
# show null/NA values per column
rent2.isnull().sum()

Column1                         0
provincia                       1
comunidad autonoma              0
titulo                          0
precio                          0
habitaciones                 3696
metros                          5
total inmuebles/comunidad       0
dtype: int64

In [495]:
rent2.head()

,Column1,provincia,comunidad autonoma,titulo,precio,habitaciones,metros,total inmuebles/comunidad
1,1,La Coruña,Galicia,"Chalet pareado en A Zapateira, Culleredo",1100.0,4.0,243,1751
2,2,La Coruña,Galicia,"Chalet pareado en Elviña - A Zapateira, A Coruña",1100.0,4.0,243,1751
3,3,La Coruña,Galicia,"Ático en avenida Pasaxe, 35, Los Castros - Cas...",450.0,NaN,Planta 4ª exterior con ascen,1751
4,4,La Coruña,Galicia,"Piso en calle de Fernando III o Santo, 9, Ensa...",1000.0,4.0,100,1751
5,5,La Coruña,Galicia,"Piso en calle Manuel Jesús Méndez Búa, s/n, Ca...",450.0,2.0,76,1751

In [496]:
rent2['ciudad'] = rent2['titulo'].str.split(',').str[-1]
rent2['ciudad']

1                      Culleredo
2                       A Coruña
3                       A Coruña
4         Santiago de Compostela
5                         Carral
                  ...
79744                   Zaragoza
79745                   Zaragoza
79746                   Zaragoza
79747                   Zaragoza
79748                   Zaragoza
Name: ciudad, Length: 79735, dtype: object

In [497]:
rent2.head()

,Column1,provincia,comunidad autonoma,titulo,precio,habitaciones,metros,total inmuebles/comunidad,ciudad
1,1,La Coruña,Galicia,"Chalet pareado en A Zapateira, Culleredo",1100.0,4.0,243,1751,Culleredo
2,2,La Coruña,Galicia,"Chalet pareado en Elviña - A Zapateira, A Coruña",1100.0,4.0,243,1751,A Coruña
3,3,La Coruña,Galicia,"Ático en avenida Pasaxe, 35, Los Castros - Cas...",450.0,NaN,Planta 4ª exterior con ascen,1751,A Coruña
4,4,La Coruña,Galicia,"Piso en calle de Fernando III o Santo, 9, Ensa...",1000.0,4.0,100,1751,Santiago de Compostela
5,5,La Coruña,Galicia,"Piso en calle Manuel Jesús Méndez Búa, s/n, Ca...",450.0,2.0,76,1751,Carral

In [498]:
print(rent2[rent2['provincia'].isnull()])

       Column1 provincia comunidad autonoma  \
79743    79743       NaN             Aragon

                                                  titulo  precio  \
79743  Piso en calle santa teresa de jesus, 2, Univer...   750.0

       habitaciones metros  total inmuebles/comunidad     ciudad
79743           3.0     90                       1277   Zaragoza

In [499]:
print(rent2.loc[79743])

Column1                                                                  79743
provincia                                                                  NaN
comunidad autonoma                                                      Aragon
titulo                       Piso en calle santa teresa de jesus, 2, Univer...
precio                                                                   750.0
habitaciones                                                               3.0
metros                                                                      90
total inmuebles/comunidad                                                 1277
ciudad                                                                Zaragoza
Name: 79743, dtype: object

In [500]:
#replacing NaN values from provincia by comunidad autonoma
rent2.loc[rent2['provincia'].isnull(),'provincia'] = rent2["ciudad"]

In [501]:
print(rent2.loc[79743])

Column1                                                                  79743
provincia                                                             Zaragoza
comunidad autonoma                                                      Aragon
titulo                       Piso en calle santa teresa de jesus, 2, Univer...
precio                                                                   750.0
habitaciones                                                               3.0
metros                                                                      90
total inmuebles/comunidad                                                 1277
ciudad                                                                Zaragoza
Name: 79743, dtype: object

In [502]:
rent2.head()

,Column1,provincia,comunidad autonoma,titulo,precio,habitaciones,metros,total inmuebles/comunidad,ciudad
1,1,La Coruña,Galicia,"Chalet pareado en A Zapateira, Culleredo",1100.0,4.0,243,1751,Culleredo
2,2,La Coruña,Galicia,"Chalet pareado en Elviña - A Zapateira, A Coruña",1100.0,4.0,243,1751,A Coruña
3,3,La Coruña,Galicia,"Ático en avenida Pasaxe, 35, Los Castros - Cas...",450.0,NaN,Planta 4ª exterior con ascen,1751,A Coruña
4,4,La Coruña,Galicia,"Piso en calle de Fernando III o Santo, 9, Ensa...",1000.0,4.0,100,1751,Santiago de Compostela
5,5,La Coruña,Galicia,"Piso en calle Manuel Jesús Méndez Búa, s/n, Ca...",450.0,2.0,76,1751,Carral

In [503]:
rent2.rename(columns={'titulo':'descripcion_direccion'}, inplace=True)
rent2.rename(columns={'comunidad autonoma':'comunidad_autonoma'}, inplace=True)
rent2.rename(columns={'total inmuebles/comunidad':'total_inmuebles'}, inplace=True)
rent2.rename(columns={'Column1':'indice'}, inplace=True)

In [504]:
rent2.head()

,indice,provincia,comunidad_autonoma,descripcion_direccion,precio,habitaciones,metros,total_inmuebles,ciudad
1,1,La Coruña,Galicia,"Chalet pareado en A Zapateira, Culleredo",1100.0,4.0,243,1751,Culleredo
2,2,La Coruña,Galicia,"Chalet pareado en Elviña - A Zapateira, A Coruña",1100.0,4.0,243,1751,A Coruña
3,3,La Coruña,Galicia,"Ático en avenida Pasaxe, 35, Los Castros - Cas...",450.0,NaN,Planta 4ª exterior con ascen,1751,A Coruña
4,4,La Coruña,Galicia,"Piso en calle de Fernando III o Santo, 9, Ensa...",1000.0,4.0,100,1751,Santiago de Compostela
5,5,La Coruña,Galicia,"Piso en calle Manuel Jesús Méndez Búa, s/n, Ca...",450.0,2.0,76,1751,Carral

In [505]:
print(rent2[rent2['metros'].isnull()])

       indice                   provincia  comunidad_autonoma  \
658       658                   La Coruña             Galicia
24965   24965                   Cantabria           Cantabria
27447   27447                 Ciudad Real  Castilla La Mancha
28757   28757                      Cuenca  Castilla La Mancha
37045   37045  Las Palmas de Gran Canaria            Canarias

                                   descripcion_direccion  precio  \
658    Casa o chalet independiente en Lugar Seixas, 7...   650.0
24965  Casa o chalet independiente en lepanto, 10, El...  5000.0
27447  Casa de pueblo en plaza de San Juan, 6, Villan...   650.0
28757  Castillo en calle Palomar, 1, Valhermoso de la...   200.0
37045  Casa o chalet independiente en Montaña Roja, 1...  1200.0

       habitaciones metros  total_inmuebles                       ciudad
658             3.0    NaN             1751                      Monfero
24965           6.0    NaN             1275                 El Astillero
27447           4.0    NaN              554   Villanueva de los Infantes
28757           3.0    NaN              115      Valhermoso de la Fuente
37045           1.0    NaN             1743                        Yaiza

In [506]:
#dropping the rows with missing values in metros column to be able to replace the strings with Nan values in that column and then, 
#if there aren't a lot (less than 7000 rows), drop that rows too
rent2.drop([658], inplace= True)
rent2.drop([24965], inplace= True)
rent2.drop([27447], inplace= True)
rent2.drop([28757], inplace= True)
rent2.drop([37045], inplace= True)

In [507]:
# show null/NA values per column
rent2.isnull().sum()

indice                      0
provincia                   0
comunidad_autonoma          0
descripcion_direccion       0
precio                      0
habitaciones             3696
metros                      0
total_inmuebles             0
ciudad                      0
dtype: int64

In [508]:
#find non numeric values in the column metros
rent2['metros'] = pd.to_numeric(rent2['metros'], errors='coerce')

In [509]:
# show null/NA values per column
rent2.isnull().sum()

indice                      0
provincia                   0
comunidad_autonoma          0
descripcion_direccion       0
precio                      0
habitaciones             3696
metros                   4002
total_inmuebles             0
ciudad                      0
dtype: int64

In [510]:
#finding rows with more than one NaN values to drop them 
rent_nan4 = rent2.loc[rent2.isnull().sum(1)>1].index
print(rent_nan4)
rent_nan4.value_counts().sum()

Int64Index([    3,    66,   103,   111,   125,   341,   408,   696,   698,
              743,
            ...
            78935, 78984, 78992, 79091, 79284, 79302, 79432, 79631, 79689,
            79707],
           dtype='int64', length=3696)

3696

In [511]:
rent2.drop(rent_nan4, inplace=True)

In [512]:
# show null/NA values per column
rent2.isnull().sum()

indice                     0
provincia                  0
comunidad_autonoma         0
descripcion_direccion      0
precio                     0
habitaciones               0
metros                   306
total_inmuebles            0
ciudad                     0
dtype: int64

In [513]:
#finding rows with at least one Nan
rent_nan5 = rent2.loc[rent2.isnull().sum(1)>0].index
print(rent_nan5)
rent_nan5.value_counts().sum()

Int64Index([  540,  1500,  1503,  1723,  1753,  2104,  3540,  9408, 10926,
            11280,
            ...
            67985, 71312, 71356, 72438, 72751, 72890, 73165, 73931, 77233,
            79482],
           dtype='int64', length=306)

306

In [514]:
rent2.drop(rent_nan5, inplace=True)

In [515]:
rent2.isnull().sum()

indice                   0
provincia                0
comunidad_autonoma       0
descripcion_direccion    0
precio                   0
habitaciones             0
metros                   0
total_inmuebles          0
ciudad                   0
dtype: int64

### Correlation and describe

In [516]:
rent2[['precio','habitaciones','metros','total_inmuebles' ]].corr()

#we observe a very low correlation between price rooms and meters, also with total of houses avaibles to rent.

                   precio  habitaciones    metros  total_inmuebles
precio           1.000000      0.313786  0.191173         0.118700
habitaciones     0.313786      1.000000  0.240437        -0.150783
metros           0.191173      0.240437  1.000000        -0.017772
total_inmuebles  0.118700     -0.150783 -0.017772         1.000000

In [517]:
rent2.describe()

#We can see min values no logicals, so we affirm we have outliers.
# maybe we have outliers with the price column, but it could be a max price of 100.000 for rent, even if it
# is expensive it could be. But, we

,indice,precio,habitaciones,metros,total_inmuebles
count,75728.000000,75728.000000,75728.000000,75728.000000,75728.000000
mean,39679.808895,1278.416781,2.478991,105.740293,6136.360514
std,23251.045010,1697.903108,1.151673,197.879154,6376.276620
min,1.000000,0.000000,0.000000,1.000000,0.000000
25%,19432.750000,650.000000,2.000000,65.000000,1345.000000
50%,39123.500000,900.000000,2.000000,84.000000,3115.000000
75%,60132.250000,1400.000000,3.000000,114.000000,9455.000000
max,79748.000000,100000.000000,45.000000,50000.000000,17589.000000

In [518]:
#finding outliers from precio. A rent can not be for free but we can have a price of 100.000 euros
precio_out = rent2[rent2['precio'] <= np.quantile(rent2['precio'], 0.00001)]
precio_out

,indice,provincia,comunidad_autonoma,descripcion_direccion,precio,habitaciones,metros,total_inmuebles,ciudad
34358,34358,Huesca,Aragon,"Piso en calle de Francia, 12, Sallent de Gallego",0.0,4.0,122.0,260,Sallent de Gallego
34361,34361,Huesca,Aragon,"Dúplex en Urbanización Espata R5, 13, Villanúa",0.0,2.0,57.0,4444,Villanúa

In [519]:
rent2.drop([34358], inplace= True)
rent2.drop([34361], inplace= True)

In [520]:
habitaciones_out = rent2[rent2['habitaciones'] <= np.quantile(rent2['habitaciones'], 0.00001)]
habitaciones_out

,indice,provincia,comunidad_autonoma,descripcion_direccion,precio,habitaciones,metros,total_inmuebles,ciudad
34352,34352,Huesca,Aragon,"Piso en calle Escuelas, 10, Biscarrués",350.0,0.0,50000.0,260,Biscarrués
34360,34360,Huesca,Aragon,"Casa de pueblo en calle Escuelas, 7, Biscarrués",350.0,0.0,100.0,260,Biscarrués
34384,34384,Huesca,Aragon,"Piso en Santiago, Huesca",680.0,0.0,100.0,260,Huesca

In [521]:
# we assume that a house should have at least 1 room, so we drop the 0 rooms houses

In [522]:
rent2.drop([34352], inplace= True)
rent2.drop([34360], inplace= True)
rent2.drop([34384], inplace= True)

In [523]:
# we want to find the rows with value 0 for the total houses avaibles for rent
totalinm_out = rent2[rent2['total_inmuebles'] <= np.quantile(rent2['total_inmuebles'], 0.00001)]
totalinm_out

,indice,provincia,comunidad_autonoma,descripcion_direccion,precio,habitaciones,metros,total_inmuebles,ciudad
34354,34354,Huesca,Aragon,"Piso en carretera Pamplona, 2, Puente la Reina...",360.0,2.0,65.0,0,Puente la Reina de Jaca

In [524]:
rent2.drop([34354], inplace= True)

In [525]:
#outliers for rooms
habitaciones_max = rent2[rent2['habitaciones'] >= np.quantile(rent2['habitaciones'], 0.99999)]
habitaciones_max

,indice,provincia,comunidad_autonoma,descripcion_direccion,precio,habitaciones,metros,total_inmuebles,ciudad
34369,34369,Huesca,Aragon,"Piso en calle Valle Vio, 16, Ainsa-Sobrarbe",600.0,45.0,100.0,260,Ainsa-Sobrarbe

In [526]:
# 45 rooms for 100m in a house... not very logical. Let's remove it

In [527]:
rent2.drop([34369], inplace= True)

In [528]:
rent2['provincia'] = rent2['provincia'].str.lower()
rent2['comunidad_autonoma'] = rent2['comunidad_autonoma'].str.lower()
rent2['ciudad'] = rent2['ciudad'].str.lower()
rent2['descripcion_direccion'] = rent2['descripcion_direccion'].str.lower()

In [529]:
#Rounded the numbers by .astype as an integer
rent2['precio'] = rent2['precio'].astype(int)
rent2['habitaciones'] = rent2['habitaciones'].astype(int)
rent2['metros'] = rent2['metros'].astype(int)
rent2.head()

,indice,provincia,comunidad_autonoma,descripcion_direccion,precio,habitaciones,metros,total_inmuebles,ciudad
1,1,la coruña,galicia,"chalet pareado en a zapateira, culleredo",1100,4,243,1751,culleredo
2,2,la coruña,galicia,"chalet pareado en elviña - a zapateira, a coruña",1100,4,243,1751,a coruña
4,4,la coruña,galicia,"piso en calle de fernando iii o santo, 9, ensa...",1000,4,100,1751,santiago de compostela
5,5,la coruña,galicia,"piso en calle manuel jesús méndez búa, s/n, ca...",450,2,76,1751,carral
6,6,la coruña,galicia,"piso en os mallos, a coruña",800,4,100,1751,a coruña

In [534]:
rent2.drop(rent2[rent2.metros < 5].index, inplace=True)

In [535]:
rent2.head()

,indice,provincia,comunidad_autonoma,descripcion_direccion,precio,habitaciones,metros,total_inmuebles,ciudad
1,1,la coruña,galicia,"chalet pareado en a zapateira, culleredo",1100,4,243,1751,culleredo
2,2,la coruña,galicia,"chalet pareado en elviña - a zapateira, a coruña",1100,4,243,1751,a coruña
4,4,la coruña,galicia,"piso en calle de fernando iii o santo, 9, ensa...",1000,4,100,1751,santiago de compostela
5,5,la coruña,galicia,"piso en calle manuel jesús méndez búa, s/n, ca...",450,2,76,1751,carral
6,6,la coruña,galicia,"piso en os mallos, a coruña",800,4,100,1751,a coruña

In [536]:
rent2[['precio','habitaciones','metros','total_inmuebles']].corr()

                   precio  habitaciones    metros  total_inmuebles
precio           1.000000      0.306860  0.570805         0.140171
habitaciones     0.306860      1.000000  0.641686        -0.152863
metros           0.570805      0.641686  1.000000        -0.037270
total_inmuebles  0.140171     -0.152863 -0.037270         1.000000

In [537]:
rent2.describe()

,indice,precio,habitaciones,metros,total_inmuebles
count,75627.000000,75627.000000,75627.000000,75627.000000,75627.000000
mean,39676.276237,1259.066418,2.473085,105.211512,6139.285626
std,23253.060277,1480.359689,1.122540,79.226419,6378.043325
min,1.000000,100.000000,1.000000,5.000000,16.000000
25%,19427.500000,650.000000,2.000000,65.000000,1345.000000
50%,39118.000000,900.000000,2.000000,84.000000,3115.000000
75%,60140.500000,1400.000000,3.000000,114.000000,9455.000000
max,79748.000000,100000.000000,32.000000,997.000000,17589.000000

In [538]:
rent2.to_csv('Spanish_renting.csv')

In [539]:
from sqlalchemy import create_engine
user = 'root'
host = '127.0.0.1'
password = 'ironjaime'
port = 3306
database = 'project_3_Spain'

In [540]:
my_conn = create_engine("mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        ))

In [542]:
db_conn = my_conn.connect()

In [543]:
try:
    frame = rent2.to_sql("spanishrenting", db_conn, if_exists='fail')
except ValueError as vx:
    print(vx)
except Exception as ex:
    print(ex)
else:
    print("Table %s created successfully."%"spanishrenting");
finally:
    db_conn.close()

Table spanishrenting created successfully.

In [545]:
print(rent2['precio'].max())

100000